.btn{
  height: 49px;
  border: none;
  background-color: #FFDF36;
  border-radius: 12px;
  margin: 36px 0;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color:#68572D;
}
.btn:hover{
  cursor: pointer;
}