.wrapper{
  display: flex;
  flex-direction: column;
}

.img{
  width: 720px;
  height: 452px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    min-width: 720px;
  min-height: 452px;
  }

}
.img:after {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0; left: 0;
  background: rgba(0,0,0,0.4);
}

.header{
  max-width: 590px;
  left: 72px;
  top: 120px;
  color: #C1C1C1;
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  h2{
    margin-top: 9px;
    margin-bottom: 0;
    font-size: 42px;
    font-weight: 800;
    color: #FFFFFF;
  }
  p{
    margin-top: 14px;
  }
  span{
    font-size: 14px;
    text-transform: uppercase;
    img{
      margin-left: 21px;
      margin-right: 5px;
    }
  }
}

.creatorPanel{
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  li {
    list-style-type: none;
    cursor: pointer;
    margin-left: 15px;
  }
}